{% extends 'header_and_footer/header.html' %}
{% load static %}

{% block additional_css %}
	<link rel="stylesheet" href="{% static 'forum/css/discussion_chat.css' %}">
{% endblock %}



{% block content %}

	<main>

		<!-- Sidebar -->
		<aside id="sidebar">
			<header id="sidebar-header">
				<img src="https://picsum.photos/id/10/50" alt="" class="avatar" id="profile-image">
				<div class="toolbar">
					<img src="icons/communities.svg" alt="" class="icon">
					<img src="icons/status.svg" alt="" class="icon">
					<img src="icons/new-chat.svg" alt="" class="icon">
					<div class="dropdown">
						<img src="icons/menu.svg" alt="" class="icon dropdown-button">
						<div class="dropdown-content">
							<a href="#">New group</a>
							<a href="#">New community</a>
							<a href="#">Archived</a>
							<a href="#">Starred messages</a>
							<a href="#">Select chats</a>
							<a href="#">Settings</a>
							<a href="#">Log out</a>
						</div>
					</div>
				</div>
			</header>
			<form id="search-toolbar">
				<input type="search" name="" id="search-input" placeholder="Search or start a new chat">
				<img src="icons/filter.svg" alt="" class="icon">
			</form>
			<section id="sidebar-contents">
				<div id="chats-list">
                    {% for disc in user.discussions.all %}
                       <a href="{% url 'discussion_chat' disc.title %} " style="text-decoration: none">
                        <div class="chat-tile">
                            {% if disc.book %}
                                <img src="{{ disc.book.image.url }}" alt="" class="chat-tile-avatar">
                            {% endif %}
                            <div class="chat-tile-details">
                                <div class="chat-tile-title">
                                    <span>{{ disc.title }}</span>
                                    <span>{{ disc.messages.all.last.created_at }}</span>
                                </div>
                                <div class="chat-tile-subtitle">
                                    <span>{{ disc.messages.all.last.content }}</span>
                                    <span class="chat-tile-menu">
                                        <img src="icons/pin.svg" alt="" class="pin">
                                    </span>
                                </div>
                            </div>
					    </div>
                        </a>
                    {% endfor %}


				</div>
			</section>
		</aside>
		<!-- Sidebar ends -->

		<!-- Chat window -->
		<section id="chat-window">
			<header id="chat-window-header">
				<img src="{{ discussion.book.image.url }}" alt="" class="avatar" id="profile-image">
				<div id="active-chat-details">
					<h3>{{ discussion.title }}</h3>
					<div class="info">You and {{ discussion.len_user }} others</div>
				</div>
				<img src="icons/search.svg" alt="" class="icon">
				<div class="dropdown">
					<img src="icons/menu.svg" alt="" class="icon dropdown-button">
					<div class="dropdown-content contact-menu">
						<a href="#">Contact info</a>
						<a href="#">Select messages</a>
						<a href="#">Close chat</a>
						<a href="#">Mute notifications</a>
						<a href="#">Disappearing messages</a>
						<a href="#">Clear messages</a>
						<a href="#">Delete chat</a>
						<a href="#">Report</a>
						<a href="#">Block</a>
					</div>
				</div>
			</header>
			<div id="chat-window-contents">
                {% if first_message %}
				<div class="datestamp-container">
					<span class="datestamp">
						03/05/2023
					</span>
				</div>
				<!-- Message group 1 -->
				<div class="chat-message-group {% if first_message.user == user %}my_message{% else %}others_message{% endif %}">
                    {% if first_message.user != user %}
					<a href="{% url "accounts:profile" first_message.user.username %}"><img src="{{ first_message.user.avatar }}" alt="" class="chat-message-avatar"></a>
                    {% endif %}
					<div class="chat-messages">
						<div class="chat-message-container {% if first_message.user == user %}my_message{% else %}others_message{% endif %}">
							<div class="chat-message chat-message-first {% if first_message.user == user %}my_message{% else %}others_message{% endif %}">
                                {% if first_message.user == user %}<div class="delete_edit"><a class="del_edit">edit</a> | <a class="del_edit">delete</a></div>{% endif %}
								<div class="chat-message-sender">{{ first_message.user.username }}</div>
								<p>{{ first_message.content }}</p>
								<span class="chat-message-time">{{ first_message.created_at_hour }}</span>
							</div>
						</div>
                        {% for message in messages %}
                        {% if message.get_previous_message.user == message.user %}
						<div class="chat-message {% if message.user == user %}my_message{% else %}others_message{% endif %}">
                                {% if message.user == user %}<div class="delete_edit"><a>edit</a> | <a>delete</a></div>{% endif %}
								<p>{{ message.content }}</p>
							<span class="chat-message-time">{{ message.created_at_hour }}</span>
						</div>
                        {% else %}
					</div>
                            {% if message.get_previous_message.user == user %}
                                <a href="{% url "accounts:profile" first_message.user.username %}"><img src="{{ first_message.user.avatar }}" alt="" class="chat-message-avatar"></a>
                            {% endif %}
                </div>

				<!-- Message group 2 -->
				<div class="chat-message-group {% if message.user == user %}my_message{% else %}others_message{% endif %}">


                    {% if message.get_previous_message.user == user %}
                    <a href="{% url "accounts:profile" message.user.username %}"><img src="{{ message.user.avatar }}" alt="" class="chat-message-avatar"></a>
                    {% endif %}
					<div class="chat-messages">
						<div class="chat-message-container {% if message.user == user %}my_message{% else %}others_message{% endif %}">
							<div class="chat-message chat-message-first {% if message.user == user %}my_message{% else %}others_message{% endif %}">
                                {% if message.user == user %}<div class="delete_edit"><a>edit</a> | <a>delete</a></div>{% endif %}
								<div class="chat-message-sender">{{ message.user.username }}</div>
								<p>{{ message.content }}</p>
								<span class="chat-message-time">{{ message.created_at_hour }}</span>
							</div>
						</div>


                    {% endif %}

                    {% endfor %}

					</div>
                    {% if message.user == user %}
                        <a href="{% url "accounts:profile" message.user.username %}"><img src="{{ message.user.avatar }}" alt="" class="chat-message-avatar"></a>
                    {% endif %}
				</div>

                {% endif %}
			</div>
			<footer id="chat-window-footer">
				<img src="icons/emoji.svg" alt="" class="icon">
				<img src="icons/attachment.svg" alt="" class="icon">
				<input type="search" name="message" id="compose-chat-box" placeholder="Type a message"
					autocomplete="off">
				<img src="icons/mic.svg" alt="" class="icon">
			</footer>
			<a class="scroll-to-top-button" href="#"><img src="icons/arrow-down.svg" alt=""
					class="icon scroll-to-top-button-icon" height=""></a>
		</section>
		<!-- Chat window ends -->

	</main>


{% endblock %}

