<!doctype html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
    <title>Profile</title>
</head>
<body>


<div class="card">
  <div class="card-text">
    <div class="portada">

    </div>
    <div class="title-total">
      <div class="title">Ant Collector</div>
      <h2>{{ user.username }}</h2>

  <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
  <div class="actions">
    <button><i class="far fa-heart"></i></button>
    <button><i class="far fa-envelope"></i></button>
    <button><i class="fas fa-user-friends"></i></button>
  </div></div>

  </div>

</div>

</body>
</html>
