<!doctype html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
    <title>Profile</title>
</head>
<body>


<div class="card">
  <div class="card-text">
    <div class="portada">

    </div>
    <div class="title-total">
      <div class="title">{{ user.occupation }}</div>
      <h2>{{ user.username }}</h2>

  <div class="desc">{{ user.about_yourself }}</div>
  <div class="actions">
    <button onclick="location.href='{% url 'accounts:logout' %}?next=/accounts/profile'">Logout</button>
    <button onclick="location.href='{% url 'accounts:password_change' %}'">Изменить Пароль</button>

    <button><i class="fas fa-user-friends"></i></button>
  </div></div>

  </div>

</div>

</body>
</html>

