{% extends 'header_and_footer/header.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-text">
    <div class="portada">

    </div>
    <div class="title-total">
      <div class="title">{{ just_user.occupation }}</div>
      <h2>{{ just_user.username }}</h2>

  <div class="desc">{{ just_user.about_yourself }}</div>
  <div class="actions">
    <button onclick="location.href='{% url 'accounts:logout' %}?next=/accounts/profile'">Logout</button>
    <button onclick="location.href='{% url 'accounts:password_change' %}'">Изменить Пароль</button>

    <button><i class="fas fa-user-friends"></i></button>
  </div></div>

  </div>

</div>

{% endblock %}
