<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Locked</title>
<!--  styles here|-->

</head>
<body>

    <div style="text-align: center; margin-top: 50px;">
        <h1>Your account is locked</h1>
        <p>
            Too many unsuccessful login attempts.
            Your account has been temporarily locked for security reasons.
        </p>
        <p>
            Please wait for minute and try again.
        </p>
    </div>

</body>
</html>
