{% extends 'header_and_footer/header.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'registration/login.css' %}">
{% endblock %}


{% block content %}
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        {% csrf_token %}
        <h3>Login</h3>
        <label>Username</label>
        {{ form.username }}

        <label>Password</label>
        {{ form.password }}

        {{ form.errors }}
        <button type="submit">Log In</button>
        <div class="social"><a href="{% url 'accounts:register' %}">sign up</a>
            <p><a href="{% url 'accounts:password_reset' %}">Забыли пароль?</a></p>
            <a href="{% url 'accounts:password_reset_confirm' uidb64='some_value' token='some_value' %}">Забыли пароль?</a>
        </div>

    </form>
{% endblock %}

