<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <title>Login test(change after test)</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static 'registration/login.css' %}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        {% csrf_token %}
        <h3>Login</h3>
        <label>Username</label>
        {{ form.username }}

        <label>Password</label>
        {{ form.password }}

        {{ form.errors }}
        <button type="submit">Log In</button>
        <div class="social"><a href="{% url 'accounts:register' %}">sign up</a>
            <p><a href="{% url 'accounts:password_reset' %}">Забыли пароль?</a></p>
            <a href="{% url 'accounts:password_reset_confirm' uidb64='some_value' token='some_value' %}">Забыли пароль?</a>


        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>
</html>
