{% extends 'header_and_footer/header.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'registration/login.css' %}">
{% endblock %}


{% block content %}
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        {% csrf_token %}
        <h3>Sign up</h3>
        <label>Username</label>
        {{ form.username }}

        <label>Email</label>
        {{ form.email }}


        <label>Password1</label>
        {{ form.password1 }}

        <label>Password2</label>
        {{ form.password2 }}

        {{ form.errors }}
        <a href="{% url 'accounts:login' %}" class="sign">Login</a>
        <button type="submit">Sign up</button>
        <p>OR USE</p>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
{% endblock %}  }
