<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <title>Sign up test(change after test)</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static 'registration/login.css' %}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        {% csrf_token %}
        <h3>Sign up</h3>
        <label>Username</label>
        {{ form.username }}

        <label>Email</label>
        {{ form.email }}


        <label>Password1</label>
        {{ form.password1 }}

        <label>Password2</label>
        {{ form.password2 }}

        {{ form.errors }}
        <a href="{% url 'accounts:login' %}" class="sign">Login</a>
        <button type="submit">Sign up</button>
        <p>OR USE</p>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>
</html>
