{% extends 'index.html' %}
{% load static %}
{% block title %} books {% endblock %}
{% block main %} <div class="sections">
    <div class="books">
    <div class="books-column">
        <div class="column">
            <img src="https://systema.kg/473703-home_default/elektronnaya-kniga-pocketbook-pb970-m-cis-grey.jpg" alt="">
            <h1>title</h1>
            <div class="column-merge">
                <p>author</p>
                <p class="rating">rating</p>
            </div>
            <p>genres</p>
        </div>
    </div>
</div>
<div class="books">
    <div class="books-column">
        <div class="column">
            <img src="https://systema.kg/473703-home_default/elektronnaya-kniga-pocketbook-pb970-m-cis-grey.jpg" alt="">
            <h1>title</h1>
            <div class="column-merge">
                <p>author</p>
                <p class="rating">rating</p>
            </div>
            <p>genres</p>
        </div>
    </div>
</div>
<div class="books">
    <div class="books-column">
        <div class="column">
            <img src="https://systema.kg/473703-home_default/elektronnaya-kniga-pocketbook-pb970-m-cis-grey.jpg" alt="">
            <h1>title</h1>
            <div class="column-merge">
                <p>author</p>
                <p class="rating">rating</p>
            </div>
            <p>genres</p>
        </div>
    </div>
</div>
</div>
{% endblock %}
