{% extends 'index.html' %}
{% load static %}
 {% block title %} forum {% endblock %}

{% block main %}
<header>
        <h1>Форум Электронной Библиотеки</h1>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Категория 1</a></li>
                <li><a href="#">Категория 2</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Связаться с нами</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

</body>
</html>