<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookHub</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}">
</head>
<body>
<header>
        <h1>Форум Электронной Библиотеки</h1>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Категория 1</a></li>
                <li><a href="#">Категория 2</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Связаться с нами</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>