{% extends 'header_and_footer/header.html' %}
{% load static %}

{% block additional_css %}
{#    <link rel="stylesheet" href="{% static 'registration/login.css' %}">#}
{% endblock %}

{% block content %}

<h1>Добро пожаловать в нашу онлайн библиотеку!</h1>

<h2>Мы рады приветствовать вас в мире знаний и литературного наследия, где каждый человек имеет свободный доступ к богатству книжной мудрости. Наша онлайн библиотека создана с благородной целью сделать знание доступным для всех, независимо от социального статуса или финансовых возможностей.</h2>

<p><bold>Что делает нас особенными:</bold></p>
<ol>
<li>Бесплатный доступ: Мы предоставляем бесплатный и открытый доступ к нашему обширному каталогу книг. У нас нет скрытых платежей или ограничений – знание должно быть свободным.</li>

<li>Разнообразие жанров и тематик: Наша коллекция охватывает широкий спектр жанров и тематик, чтобы удовлетворить интересы каждого читателя. От классики до современных бестселлеров, от научной литературы до фантастики – у нас есть книги на любой вкус.</li>

<li>Легкий доступ в любое время и место: Наши читатели могут наслаждаться чтением в любое время суток и в любом месте, где есть интернет. Мы создали удобное и интуитивно понятное онлайн-пространство для вашего комфорта.</li>

<li>Сообщество знаний: Мы стремимся создать виртуальное сообщество ценителей литературы и знаний. Вы можете делиться своими впечатлениями, обсуждать произведения и находить единомышленников в наших форумах и обсуждениях.</li>

<ol>


<p>Присоединяйтесь к нам и давайте вместе делиться миром книг. У нас каждый может стать частью увлекательного путешествия в мир фантазии, знаний и открытий. Спасибо, что выбрали нас в качестве своего литературного партнера!</p>
{% endblock %}
