{% extends 'header_and_footer/header.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'books/css/detail_books1.css' %}">
    <script src="{% static 'js/book_detail.js' %}"></script>
{% endblock %}

{% block title %}{{ book_id.title }}{% endblock %}

{% block content %}
<h1>Детальная информация о книге</h1>
<div class="book-detail">
<img src="{{ book.image.url }}" alt="img of {{ book.title }}" class="book_img">
<div class="book-content">
  <h2 class="book-title">{{book.title}}</h2>
  <div class="data_of_book">
>
    <p class="book_author">{{book.author}}</p>
    <a href="#target-content" id="button">{{book.rating}}</a>


    <form method="post" action="{% url 'toggle_marked' book.id %}">
      {% csrf_token %}
      <button type="submit">{% if user in marked_book %}удалить из избранных{% else %}добавить в избранные{% endif %}</button>
    </form>
<a href="{% url 'download_book' book.id %}" class="btn btn-primary">Загрузить книгу</a>


  </div>

<!--всплывающее окно при оценке книги-->
  <div id="target-content">
    <div id="target-inner">
        <form method="post" action="{% url 'update_rating' book.id 1 %}">
          {% csrf_token %}
          <button type="submit">1 Звезда</button>
        </form>
        <form method="post" action="{% url 'update_rating' book.id 2 %}">
          {% csrf_token %}
          <button type="submit">2 Звезды</button>
        </form>
        <form method="post" action="{% url 'update_rating' book.id 3 %}">
          {% csrf_token %}
          <button type="submit">3 Звезды</button>
        </form>
        <form method="post" action="{% url 'update_rating' book.id 4 %}">
          {% csrf_token %}
          <button type="submit">4 Звезды</button>
        </form>
        <form method="post" action="{% url 'update_rating' book.id 5 %}">
          {% csrf_token %}
          <button type="submit">5 Звезд</button>
        </form>
  </div>
</div>
<!--конец всплывающего окна-->


    {% for genre in book.genres.all %}
          <span>{{genre}}</span>  {% if not forloop.last %} {% endif %}
    {% endfor %}

<p>{{book.description}}</p>
</div>
</div>

{#    template of comments #}
{% if comments %}
    <ul class="comments">
        {% for comment in comments %}
            <li class="comment">
                {% if comment.user == user %}
                    <p>
                        <a href="#" class="edit_button" data-comment-id="{{ comment.id }}">edit</a> | <a href="{% url 'delete_comment' comment.id %}" class="delete_button">delete</a>
                    </p>
                {% endif %}
                <p class="name_date">Оставил(а) {{ comment.user.username }} в {{ comment.created_at }}{% if comment.created_at < comment.updated_at %} | edited at {{ comment.updated_at }}{% endif %}</p>
                <div class="comment-content" id="comment_content_{{ comment.id }}">
                    {% if comment.is_spoiler and comment.user != user %}
                        <button class="spoiler_button">спойлер</button>
                        <p class="spoiler-content" style="display: none;">{{ comment.content }}</p>
                    {% else %}
                        <p id="comment_text_{{ comment.id }}">{{ comment.content }}</p>
                    {% endif %}
                </div>
                <div class="edit-form" id="edit_form_{{ comment.id }}" style="display: none;">
{#                    edt form#}
                    <form method="post" action="{% url 'edit_comment' comment.id %}">
                        {% csrf_token %}
                        <textarea name="content">{{ comment.content }}</textarea>
                        <input type="submit" value="Сохранить">
                    </form>
                </div>
                <ul>
                    {% for reply in comment.replies.all %}
                        <li class="comment">
                            {% if reply.user == user %}
                                <p>
                                    <a href="#" class="edit_button" data-comment-id="{{ reply.id }}">edit</a> | <a href="{% url 'delete_comment' reply.id %}" class="delete_button">delete</a>
                                </p>
                            {% endif %}

                            <p class="name_date">Ответил(а) <strong>{{ reply.user.username }}</strong> в <bold>{{ reply.created_at }}</bold>{% if reply.created_at < reply.updated_at %} | edited at {{ reply.updated_at }}{% endif %}</p>
                            <div class="comment-content" id="comment_content_{{ reply.id }}">
                                {% if reply.is_spoiler and reply.user != user %}
                                    <button class="spoiler_button">спойлер</button>
                                    <p class="spoiler-content" style="display: none;">{{ reply.content }}</p>
                                {% else %}
                                    <p id="comment_text_{{ reply.id }}">{{ reply.content }}</p>
                                {% endif %}
                            </div>
                            <div class="edit-form" id="edit_form_{{ reply.id }}" style="display: none;">
{#                                edit form#}
                                <form method="post" action="{% url 'edit_comment' reply.id %}">
                                    {% csrf_token %}
                                    <textarea name="content">{{ reply.content }}</textarea>
                                    <input type="submit" value="Сохранить">
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <a href="#invisibleForm{{comment.id}}" class="show-reply-form" data-comment-id="{{ comment.id }}">Ответить</a>
{#            reply to the comment#}
                <form method="post" id="invisibleForm{{comment.id}}" class="reply-form" action="{% url 'reply_comment' parent_id=comment.id book_id=book.id %}">
                    {% csrf_token %}
                    {{ comment_form.content }}
                    <label for="is_spoiler-field">спойлер?:</label>
                    <input type="checkbox" name="is_spoiler" id="is_spoiler-field">
                    <input type="submit" value="Отправить">
                </form>
            </li>
        {% endfor %}
    </ul>

<script>
                document.addEventListener('DOMContentLoaded', function() {
                    var spoilerButtons = document.querySelectorAll('.spoiler_button');
                    spoilerButtons.forEach(function(button) {
                        button.addEventListener('click', function() {
                            var contentElement = button.nextElementSibling;
                            contentElement.style.display = 'block';
                            button.style.display = 'none';
                        });
                    });
                });
            </script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var editButtons = document.querySelectorAll('.edit_button');
                    editButtons.forEach(function(button) {
                        button.addEventListener('click', function() {
                            var commentId = button.getAttribute('data-comment-id');
                            var contentElement = document.getElementById('comment_text_' + commentId);
                            var editForm = document.getElementById('edit_form_' + commentId);

                            // Переключение отображения содержимого комментария и формы редактирования
                            contentElement.style.display = (contentElement.style.display === 'none') ? 'block' : 'none';
                            editForm.style.display = (editForm.style.display === 'none') ? 'block' : 'none';
                        });
                    });
                });
            </script>
{% endif %}





{#    usual comment#}
<form method="post" action="{% url 'add_comment' book_id=book.id %}">
    {% csrf_token %}
    {{ comment_form.content }}
    <label for="is_spoiler-field">spoiler?:</label>
    <input type="checkbox" name="is_spoiler" id="is_spoiler-field">
    <input type="submit" value="Submit">
</form>












{#for reply of the comment#}
<script>
document.addEventListener('DOMContentLoaded', function () {
    var showButtons = document.querySelectorAll('.show-reply-form');
    showButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            var commentId = this.getAttribute('data-comment-id');
            var form = document.getElementById('invisibleForm' + commentId);
            form.style.display = (form.style.display === 'block') ? 'none' : 'block';
        });
    });
});
</script>

{% endblock %}