{% extends 'header_and_footer/header.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'books/css/carousel.css' %}">
{% endblock %}

{% block title %}Main Page{% endblock %}


{% block content %}
<div class="background"></div>
    <div class="background-texture"></div>

    <section class="carousel">
      <h2 class="categories__title">Топ 10 по рейтингу</h2>
      <div class="carousel__container">
        {% for book in books_rating %}
          <div class="carousel-item">
              <img
                class="carousel-item__img"
                src="{{ book.image.url }}"
                alt="img of {{ book.title }}"
              />

            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle">{{book.rating}}</span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <a href="{% url 'book_detail' book.id %}">
                <h5 class="carousel-item__details--title">{{book.title}}</h5>
              </a>
              <h6 class="carousel-item__details--subtitle">{{book.author}}</h6>
            </div>
          </div>
        {% endfor %}

      </div>
    </section>
{% endblock %}
