{% extends 'header_and_footer/header.html' %}
{% load static %}

{% block additional_css %}
	<link rel="stylesheet" href="{% static 'books/css/category.css' %}">
{% endblock %}

{% block content %}
<div class="filtration">
    <form method="post" action="{% url 'filtration' %}">
    {% csrf_token %}
    <ul class="ul-cat-link">
        {% for genre in genres %}
        <li>
            <input type="checkbox" name="genres" value="{{ genre.name }}" {% if genre.name in genres_names %}checked{% endif %}>
            {{ genre.name }}
        </li>
        {% endfor %}
    </ul>
    <button type="submit">Отправить</button>
</form>
    </div>
    <div class="books">
        {% for book in books %}
            <article class="card">
  <img
    class="card__background"
    src="{{ book.image.url }}"
    alt="Photo of {{ book.title }}"
    width="1920"
    height="2193"
  />
  <div class="card__content | flow">
    <div class="card__content--container | flow">
      <h2 class="card__title">{{ book.title }}</h2>
        <br>
        {% for book_genre in book.genres.all %}
          <span style="color: #e5e5e5">{{ book_genre }}</span>  {% if not forloop.last %} {% endif %}
    {% endfor %}
    </div>
    <a class="card__button" href="{% url 'book_detail' book.id %}">Read more</a>
  </div>
</article>
        {% endfor %}
    </div>
{% endblock %}
